<div class="container">
  <staff-dashboard></staff-dashboard>
  <div>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div>
        <div>
          <h1>Enable or Block Customer</h1>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Customer Name</th>
                <th scope="col">Customer ID</th>
                <th scope="col">Customer Status</th>
              </tr>
            </thead>
            <tbody class="align-middle" *ngFor="let customer of customers">
              <tr>
                <th scope="row">{{ customer.customerName }}</th>
                <td>{{ customer.customerId }}</td>
                <td *ngIf="customer.status == 'STATUS_ENABLED'">
                  <button
                    type="submit"
                    class="btn btn-success"
                    (click)="setStatusDis(customer.customerId)"
                  >
                    Enabled
                  </button>
                </td>
                <td *ngIf="customer.status == 'STATUS_DISABLED'">
                  <button
                    type="submit"
                    class="btn btn-danger"
                    (click)="setStatusEn(customer.customerId)"
                  >
                    Disabled
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    </main>
  </div>
</div>
