<div class="container">
  <admin-navbar></admin-navbar>
  <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
    {{ errorMsg }}
  </div>
  <div *ngIf="message" class="alert alert-primary" role="alert">
    {{ message }}
  </div>
  <h3 class="text-center">Create Staff</h3>
  <br />
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card card-container">
        <form
          id="register"
          name="form"
          class="border p-4 bg-light shadow needs-validation"
        >
          <div class="row">
            <div class="mb-3 col-md-10">
              <label for="username">User Name</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="Enter User Name"
                [(ngModel)]="registerForm.username"
              />
            </div>

            <div class="mb-3 col-md-10">
              <label for="fullName">Full Name</label>
              <input
                type="text"
                class="form-control"
                name="fullFame"
                id="fullName"
                placeholder="Enter Your Full Name"
                [(ngModel)]="registerForm.fullName"
              />
            </div>
            <div class="mb-3 col-md-10 form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                id="password"
                placeholder="Enter Password"
                [(ngModel)]="registerForm.password"
              />
            </div>

            <div class="mb-3 col-md-10 form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                id="confirmPassword"
                placeholder="Confirm Password"
                [(ngModel)]="confirmPassword"
              />
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <button
                  class="btn btn-primary float-center"
                  type="submit"
                  (click)="registerStaff()"
                >
                  Register
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
