<div class="container">
  <staff-dashboard></staff-dashboard>
  <div>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div>
        <form>
          <table>
            <tr>
              <td>
                <label for="CustomerID">Account Number </label>
              </td>
              <td>
                <input
                  type="number"
                  class="form-control"
                  id="accountNumber"
                  name="accountNumber"
                  min="1"
                  [(ngModel)]="accountNum"
                />
              </td>
              <td>
                <button
                  class="w-100 btn btn-lg btn-primary"
                  type="submit"
                  (click)="accountDetails()"
                >
                  Search
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <label for="customerName">Name: {{ customerName }}</label>
              </td>
            </tr>
            <tr>
              <td>
                <label for="accountBalance"
                  >Balance: {{ accountBalance }}</label
                >
              </td>
            </tr>
            <tr>
              <td>
                <label for="accountNumberLabel"
                  >Account Number: {{ accountNumber }}</label
                >
              </td>
            </tr>
          </table>
        </form>

        <div>
          <h1>Account Details</h1>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Reference</th>
                <th scope="col">Amount</th>
                <th scope="col">Cr/Db</th>
              </tr>
            </thead>
            <tbody
              class="align-middle"
              *ngFor="let transaction of accounts.transactions"
            >
              <tr>
                <th scope="row">{{ transaction.date }}</th>
                <td>{{ transaction.reference }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.transactionType }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    </main>
  </div>
</div>
