<div class="container">
  <div class="row">
    <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
      {{ errorMsg }}
    </div>
    <div *ngIf="message" class="alert alert-primary" role="alert">
      {{ message }}
    </div>
    <h3 class="text-center">Update Profile</h3>
    <div class="col-md-6 offset-md-3">
      <div>
        <form name="form">
          <div class="mb-3 col-md-10">
            <label>Customer ID</label>

            <span
              class="form-control bg-light"
              id="id"
              name="id"
              placeholder="Customer ID"
              disabled
              >{{ userId }}</span
            >
          </div>

          <div class="mb-3 col-md-10">
            <label>Full Name</label>
            <input
              type="text"
              name="fullName"
              id="fullName"
              class="form-control"
              [(ngModel)]="form.fullName"
            />
          </div>

          <div class="mb-3 col-md-10">
            <label>Phone</label>
            <input
              type="text"
              name="phone"
              id="phone"
              class="form-control"
              [(ngModel)]="form.phone"
            />
          </div>

          <div class="mb-3 col-md-10">
            <label>PAN</label>
            <input
              type="text"
              name="pan"
              id="pan"
              class="form-control"
              [(ngModel)]="form.pan"
            />
          </div>

          <div class="mb-3 col-md-10">
            <label>AADHAR</label>
            <input
              type="text"
              name="aadhar"
              id="aadhar"
              class="form-control"
              [(ngModel)]="form.aadhar"
            />
          </div>

          <div class="mb-3 col-md-7">
            <label>Select Security Question</label>
            <select
              class="form-select"
              aria-label="secret question"
              name="secretQuestion"
              id="secretQuestion"
              [(ngModel)]="form.secretQuestion"
            >
              <option value="Favorite color?">Favorite color?</option>
              <option value="Name of pet?">Name of pet?</option>
              <option value="Childhood hero?">Childhood hero?</option>
            </select>
          </div>

          <div class="mb-3 col-md-7">
            <label>Enter Answer</label>
            <input
              type="text"
              name="secretAnswer"
              id="secretAnswer"
              class="form-control"
              [(ngModel)]="form.secretAnswer"
            />
          </div>

          <div class="col-md-10 float-end mx-auto">
            <button
              class="btn btn-primary float-end"
              type="submit"
              (click)="updateProfile()"
            >
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
