<ul class="nav flex-column d-flex">
  <li class="nav-item">
    <a class="nav-link" routerLink="/view-dashboard" routerLinkActive="active">
      <span data-feather="home"></span>
      Dashboard
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link active"
      aria-current="page"
      routerLink="/create-account"
      routerActiveLink="active"
    >
      Create Account
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/add-beneficiary" routerActiveLink="active">
      Add Beneficiary
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/remove-beneficiary"
      routerActiveLink="active"
    >
      Remove Beneficiary
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/transfer-amount" routerActiveLink="active">
      Transfer Money
    </a>
  </li>
  <li class="/nav-item">
    <a class="nav-link" routerLink="/view-statement" routerActiveLink="active">
      View Statement
    </a>
  </li>
</ul>
