<div class="container-fluid">
  <div class="row">
    <app-navbar-customer
      class="nav flex-column d-flex col-md-auto me-4"
    ></app-navbar-customer>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      ></div>
      <div *ngIf="errorMsg" class="card shadow rounded alignright p-3">
        {{ errorMsg }}
      </div>
      <div class="card-columns">
        <div *ngIf="accounts && accounts.length > 0">
          <div class="card shadow rounded" *ngFor="let account of accounts">
            <div class="alignright p-3">
              <p>Account Type: {{ account.accountType }}</p>
              <p>Account Balance: {{ account.Balance }}</p>
              <p>Status: {{ account.accountStatus }}</p>
              <button
                type="submit"
                class="btn btn-primary btn-sm"
                (click)="getDetails(account.accountNumber)"
              >
                View More
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
