<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container">
  <staff-dashboard></staff-dashboard>

  <div class="wrapper fadeInDown">
    <div class="form-signin">
      <div id="formContent">
        <h1>Account Money Transfer</h1>
        <div class="fadeIn first">
          <img
            src="../../../../../assets/img/transfer.jpg"
            id="icon"
            alt="Staff Icon"
          />
        </div>
        <form>
          <input
            type="number"
            id="fromAccNumber"
            class="fadeIn second"
            name="fromAccNumber"
            placeholder="From Account Number"
            min="1"
            [(ngModel)]="fromAccNum"
            required
          />
          <input
            type="number"
            id="toAccNumber"
            class="fadeIn third"
            name="toAccNumber"
            placeholder="To Account Number"
            min="1"
            [(ngModel)]="toAccNum"
            required
          />
          <input
            type="number"
            id="amount"
            class="fadeIn third"
            name="amount"
            placeholder="Amount To Transfer : 0.00"
            min="0.01"
            step=".01"
            [(ngModel)]="amount"
            required
          />
          <input
            type="text"
            id="reason"
            class="fadeIn third"
            name="reason"
            placeholder="Reason For Transfer"
            [(ngModel)]="reason"
          />
          <input
            type="submit"
            class="fadeIn fourth"
            value="Transfer"
            (click)="setTransfer()"
          />
        </form>
      </div>
    </div>
  </div>
</div>
