<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="text-center">
        <h3 class="text-center">Update Password</h3>
        <form
          id="updatePassword"
          role="form"
          autocomplete="off"
          class="form"
          class="mt-5 border p-4 bg-light shadow needs-validation"
          method="post"
        >
          <div class="mb-3 col-md-10">
            <div class="input-group">
              <h4 id="username">User Name: {{ username }}</h4>
            </div>
          </div>

          <div class="mb-3 col-md-10">
            <div class="input-group">
              <input
                type="password"
                id="updatedPassword"
                name="password"
                class="form-control"
                placeholder="Enter New Password"
                [(ngModel)]="updatePassword.password"
                required
              />
            </div>
          </div>

          <div class="mb-3 col-md-10">
            <div class="input-group">
              <input
                type="password"
                id="confirmPassword"
                name="confirmpassword"
                class="form-control"
                placeholder="Confirm Password"
                [(ngModel)]="updatePassword.confirmPassword"
                required
              />
            </div>
          </div>
          <div class="col-md-12">
            <button
              class="btn btn-primary float-center"
              type="submit"
              id="update"
              (click)="onSubmit()"
            >
              Update
            </button>
          </div>
          <p class="text-center mt-3 text-secondary">
            Already have a Customer account, Please
            <a href="customer/authenticate">Login Here</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
