<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset-4">
      <div class="text-center">
        <h3 class="text-center">Forgot Password</h3>
        <form
          name="form"
          id="forgotPassword"
          autocomplete="off"
          method="post"
          class="mt-5 border p-4 bg-light shadow needs-validation"
        >
          <div class="row">
            <div class="mb-3 col-md-7">
              <div class="input-group">
                <input
                  type="text"
                  id="username"
                  name="username"
                  class="form-control"
                  placeholder="Enter User Name"
                  [(ngModel)]="username"
                />
              </div>
            </div>
            <div class="mb-3 col-md-7">
              <div class="input-group">
                <select
                  class="form-select"
                  name="secretQuestion"
                  aria-label="secret question"
                  [(ngModel)]="secretQ"
                >
                  <option value="Favorite color?">Favorite color?</option>
                  <option value="Name of pet?">Name of pet?</option>
                  <option value="Childhood hero?">Childhood hero?</option>
                </select>
              </div>
            </div>
            <div class="mb-3 col-md-7">
              <div class="input-group">
                <input
                  type="text"
                  name="secretAnswer"
                  class="form-control"
                  placeholder="Enter Answer"
                  required
                  [(ngModel)]="form.secretAnswer"
                  #fullName="ngModel"
                />
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <button
                  name="getDetails"
                  class="btn btn-primary float-conter"
                  value="Submit"
                  type="submit"
                  (click)="onSubmit()"
                >
                  Get Details
                </button>
              </div>
            </div>
            <br />
            <p class="text-center mt-3 text-secondary">
              Already have a Customer account, Please
              <a href="/authenticate">Login Here</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
