<div class="container">
  <staff-dashboard></staff-dashboard>
  <div>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div>
        <div>
          <h1>Newly Added Beneficiary</h1>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Customer ID of Requester</th>
                <th scope="col">Beneficiary Account Number</th>
                <th scope="col">Request Date</th>
                <th scope="col">Approve</th>
              </tr>
            </thead>
            <tbody class="align-middle" *ngFor="let beneficiary of benefs">
              <tr>
                <th scope="row">{{ beneficiary.fromCustomer }}</th>
                <td>{{ beneficiary.beneficiaryAccountNumber }}</td>
                <td>{{ beneficiary.dateAdded }}</td>
                <td *ngIf="beneficiary.isApproved == 'STATUS_APPROVED'">
                  <button type="submit" class="btn btn-primary mb-3">
                    Approve
                  </button>
                </td>
                <td *ngIf="beneficiary.isApproved == 'STATUS_NOT_APPROVED'">
                  <button
                    type="submit"
                    class="btn btn-primary mb-3"
                    (click)="
                      setStatus(
                        beneficiary.fromCustomer,
                        beneficiary.beneficiaryAccountNumber
                      )
                    "
                  >
                    Approve
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    </main>
  </div>
</div>
